.logo {
  font-size: 4rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 35vh;
}

.Inputs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.Word,
.Language {
  width: 40%;
}

@media (max-width: 900px) {
  .header {
    height: 25vh;
    margin-top: 30px;
  }

  .logo {
    font-size: 8vw;
  }
}
