.Definitions {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  -webkit-scrollbar: thin;
  height: 55vh;
  padding: 2rem;
  border-radius: 5px;
  overflow-x: hidden;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: lighter;
}
.definition {
  display: flex;
  flex-direction: column;
  /* background-color: #fefefe;
  color: #0d1117; */
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

@media (max-width: 900px) {
  .Definitions {
    height: 69vh;
  }
}
