.Definitions {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* scrollbar-width: thin;
  -webkit-scrollbar: thin; */
  border: 5px #fefefe solid;
  height: 55vh;
  padding: 2rem;
  border-radius: 5px;
  overflow-x: hidden;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: lighter;
}

@media (max-width: 900px) {
  .Definitions {
    height: 69vh;
  }
}
